
/*=============================
|            Global           |
=============================*/
    body {
        font-family: 'Open Sans', sans-serif;
    }

/*=============================
|            Navbar           |
=============================*/

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .dropdown-menu.show {
        -webkit-animation: fadeIn 0.3s alternate;
        /* Safari 4.0 - 8.0 */
        animation: fadeIn 0.3s alternate;
    }
    .navbar-toggler {
        border: none;
        padding: 0;
        outline: none;
    }
    .navbar-toggler:focus {
        box-shadow: none;
    }
    .navbar-toggler .hamburger-toggle {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 11;
        float: right;
    }
    .navbar-toggler .hamburger-toggle .hamburger {
        position: absolute;
        transform: translate(-50%, -50%) rotate(0deg);
        left: 50%;
        top: 50%;
        width: 50%;
        height: 50%;
        pointer-events: none;
    }
    .icons {
        display: inline-flex;
        margin-left: auto;
    }
    .icons a {
        transition: all 0.2s ease-in-out;
        padding: 0.2rem 0.4rem;
        color: #ccc !important;
        text-decoration: none;
    }
    .icons a:hover {
        color: white;
        text-shadow: 0 0 30px white;
    }

    .nav-item {
        margin-left: 1em;
        font-weight: 600;
    }

    .nav-link {
        color: #012970 !important;
    }

    .nav-link:hover {
        color: #4154f1 !important;
    }
    .navbar {
        margin: 1em;
        border-radius: 12px;
    }

    .navbar-brand {
        color: #012970 !important;
        font-weight: 1000;
        letter-spacing: 1.5px;
    }

    .navbar-toggle-icon {
        color: #012970;
    }

    .navbar-toggle-icon:hover {
        color: #4154f1;
    }

    .hero-banner h1 {
        font-size: 48px;
    }
    .hero-banner .btn {
        position: relative;
        overflow: hidden;
        z-index: 9;
        background-color: #fff;
    }
    .hero-banner .btn:before {
        content: "";
        background: #012970;
        width: 4px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }

    .hero-banner {
        background-image: url(/assets/img/hero-bg.png) !important;
    }